@charset "UTF-8";
	html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin:0;
	padding:0
}
.left {
    float: left;
}
.right {
    float: right;
}

body {
	font-size:14px;
	font-family:Arial,Helvetica,sans-serif;
	background:url(../images/bg.jpg) repeat-x;
}
.main {
		width: 980px;
        height: 768px;
		margin: 0px auto;
}
.top {
    width: 980px;
    height: 108px;
}
.top img {
    margin: 20px 10px;
    width: 216px;
    height: 60px;
}
.middle {
    width: 1013px;
    height: 549px;
	background:url(../images/bg_2.png) no-repeat;
}
.down-area {
    width: 294px;
    height: 140px;
    left: 603px;
    top: 352px;
    color: #ffffff;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.down {
    margin: 6px;
}
.down a {
    display: block;
    width: 132px;
    height: 50px;
    background: url(../images/down.png) no-repeat;
}
.down a:hover {
    display: block;
    width: 132px;
    height: 50px;
    background: url(../images/down_s.png) no-repeat;
}
.down p {
    margin-top: 5px;
}

.footer {
    padding: 30px 0px;
    width: 980px;
}
.follow {
    float: left;
}
.weibo {
    float: left;
    list-style-image: url(../images/icon_1.png);
}
.weibo a {
    display: block;
    height: 20px;
    margin: 0px 13px;
    padding: 2px 0px;
    text-decoration: none;
}
.weibo a:hover {
    color: #0C5E9F;
}
.contact {
    float: left;
}
.contact a {
    display: block;
    height: 20px;
    margin: 0px 10px;
    padding: 5px 0px;
    text-decoration: none;
}
.contact a:hover {
    color: #0C5E9F;
}

